<%- include('includes/head.ejs') %>

</head>
    <body>
    <%- include('includes/menu.ejs') %>

    <main>
        <h2>Deshbord</h2>
        <section class="section grid">
            list...
        </section>
    </main>

<%- include('includes/end.ejs') %>