header.main-header {
    display: flex;
    padding: 10px;
    background-color: rgb(156 39 176 / 0.75)!important;
    -moz-box-shadow: 3px -3px 15px 0px #333;
    -webkit-box-shadow: 3px -3px 15px 0px #333;
    box-shadow: 3px -3px 15px 0px #333;
}
ul.main-header__item-list {
    padding: 0;
    margin: 0;
}
li.main-header__item {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0px 20px 0px 0px;
}
li.main-header__item a {
    color: #fff;
    text-decoration: none;
}
.main-right {
    flex: 50%;
}
.main-left {
    flex: 50%;
    text-align: right;
}
.main-header form {
    display: inline;
}
