<%- include('../site/includes/head.ejs') %>

</head>
<body>
<%- include('../site/includes/menu.ejs') %>

<main class="site">
    <section class="section">
        <p>
            Page Not Found
        </p>
    </section>
</main>

<%- include('../site/includes/end.ejs') %>